body {
	background: grey;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-weight: 700;
}
h2 { 
	font-size: 100%;
	font-weight: 700;
}
ul#bookmarks {
	list-style-type: none;
}
ul#bookmarks li {
	
}
ul#options {
	list-style-type: none;
}

div#sidebar {
	float: left;
   width: 33%;
	min-width: 300px;
}
div#map {
   float: left;
   width: 66%;
	min-width: 600px; 
	height: 500px;
	padding: 0;
}
a {
	color: black;
}
a.active {
	color: black;
}
a.external {
	font-style: italic;
   font-weight: 700;
}
div#timetables {
   float: left;
   clear: left;
}
div#timetables .server{
   float: left;
   width: 50%;
   min-width: 600px;
}

/* this is aimed at iPads with a width of 964*/
@media screen and (max-width: 1000px) {
   div#sidebar {
      min-width: 300px;
      width: 300px;
   }
   
   div#map {
      width: 600px;
      height: 700px;
   }
   div#timetables .server{
      float: left;
      width: 50%;
      min-width: 450px;
   }
}